
{% extends '../base.html' %}
{% load static %}

{% block scss %}
    <link type="text/x-scss" href="{% static 'scss/index.scss' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block head %}
    <title> Twitter Monitor </title>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div id="root"></div>

    <script>
        var context = {
            groups: [{% for group in groups %}
                {
                    pk: {{group.pk}},
                    name: "{{group.name}}",
                    link: "{% url 'list_group_tweets' group.pk %}",
                    deleteLink: "{% url 'delete_group' group.pk %}",
                },
            {% endfor %}],
            userEmail: "{{user.email}}",
            addLink: "{% url 'add_group' %}",
            logoutLink: "{% url 'logout' %}",
            homeLink: "{% url 'index' %}",
        }
    </script>

    <script src="{% static 'js/index.bundle.js' %}"></script>
{% endblock %}

