
{% extends './login_base.html' %} 
{% block content %} 
{% load static %}

<form method="post">
  {% csrf_token %}
    <img
      class="mb-4"
      src="{% static '/images/logo.svg' %}"
      alt=""
      width="120"
      height="70"
    />
  <h3 class="h5 mb-3 font-weight-normal">Esqueci minha senha</h3>
  {{form.email.errors}}
    <label for="inputEmail" class="sr-only">E-mail</label>
    {{ form.email }}
  <button class="btn btn-primary col-12 mt-3" type="submit">Enviar</button>
</form>

{% endblock %}


