

{% extends 'login_main.html' %}
{% load static %}
{% block content %}
  <center>
  <img
    class="mb-4"
    src="{% static '/images/logo.png' %}"
    alt=""
    height="70"
  />
  <h1 class="h3 mb-3 font-weight-normal">E-mail enviado</h1>
  <p>
    Te enviamos por e-mail as instruções para recuperar seus dados de acesso, caso exista uma conta com o e-mail fornecido.
    Você deve recebê-lo em breve.
  </p>
  <p>
    Se você não receber o e-mail, por favor verifique se o e-mail fonecido é o mesmo e-mail com o qual você se registrou,
    também verifique sua caixa de spam.
  </p>
  </center>
{% endblock %}


